body, h1, h2, h3, h4, p, ul, li, {
padding: 0 0 0 0;
margin: 0 0 0 0;
  font-family:sans-serif;
}

header {
  margin-top: -20px;
  height: 460px;
  background: url(../img/mtn.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    opacity: 0.8;
    color: white;

}

#bioRow {
  width: 100%;
  /*margin-top: 10px;*/
  margin: 0 0 0 0;
  /*height: 440px;*/
  background: url(../img/tree.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    opacity: 0.8;
}

#bioimg {
margin: 50px 0 0 20px;
}

#bioDiv {
background-color: rgba(0, 0 ,0 , .7);
color: white;
height: 400px;
border-radius: 60px;
padding: 20px 15px 10px 15px;
margin: 10px 50px 0 20px;
}



#gellerySection {

}

#galleryImage {
  height: 200px;
  box-shadow: 10px 10px 5px #888888;
}

#footerDiv {
  height: 200px;
  background-color: lightgray;
}

#titleContainer {
  text-align: center;
  margin-top: 150px;
}

#imageInfo {
height: 200px;

}
